body {
    background: #281f4d;
  }
#logobox {
  float: left;
  width: 250px;
  height: 65px;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
}  
h1.logoname{
  float: left;
  color:white;

  position : absolute;
  top : 3px;
  left : 75px;
}
.floatstop {
  clear: both;
}  

 